<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>

    {% if meta.description %}
    <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}

    {% if current_page %}
    <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="icon" href="{{ theme_url }}/../shared/img/universe64.png">
    {% if config.session.theme == "dark" %}
    <link rel="stylesheet" href="{{ theme_url }}/css/style-dark.css" type="text/css" />
    {% else %}
    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Aboreto&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&family=WindSong:wght@400;500&family=Lexend+Giga:wght@100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap"
        rel="stylesheet">
</head>